<div class="container mt-5">
    <h4>Formularios <small> Template </small></h4>
    <hr>
    <form autocomplete="off" (ngSubmit)="guardar(formTemplate)" #formTemplate="ngForm">
        <div>
            <div class="form-group row">
                <label class="col-2 col-form-label">Nombre</label>
                <div class="col-8">
                    <input class="form-control" type="text" placeholder="Nombre"
                            [class.is-invalid]="nombre.invalid && nombre.touched" #nombre="ngModel"
                            name="nombre" [ngModel]="usuario.nombre" required minlength="5">
                    <small  *ngIf="nombre.invalid && nombre.touched"
                            class="form-text text-danger">Mínimo 5 letras</small>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label">Apellido</label>
                <div class="col-8">
                    <input class="form-control" type="text" placeholder="Apellido"
                            [class.is-invalid]="apellido.invalid && apellido.touched" #apellido="ngModel"
                            name="apellido" [ngModel]="usuario.apellido" required>
                    <small  *ngIf="apellido.invalid && apellido.touched"
                            class="form-text text-danger">Apellido obligatorio</small>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Correo</label>
            <div class="col-8">
                <input class="form-control" type="email" placeholder="Correo electrónico"
                        [class.is-invalid]="email.invalid && email.touched" #email="ngModel"
                        [ngModel]="usuario.correo"
                        name="email" ngModel required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                <small  *ngIf="email.invalid && email.touched"
                        class="form-text text-danger">Correo obligatorio</small>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">País</label>
            <div class="col-8">
                <select class="form-control" name="pais" [ngModel]="usuario.pais" required #pais="ngModel"
                    [class.is-invalid]="pais.invalid && pais.touched">

                    <option *ngFor="let pais of paises" [value]="pais.codigo">{{ pais.nombre }}</option>

                </select>
                <small  *ngIf="pais.invalid && pais.touched"
                        class="form-text text-danger">Pais no seleccionado</small>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" ngModel name="genero" #genero="ngModel"
                        value="masculino" required #genero [class.is-invalid]="genero.invalid && genero.touched">
                    <label class="form-check-label">Masculino</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" ngModel name="genero" #genero="ngModel"
                        value="femenino" required #genero [class.is-invalid]="genero.invalid && genero.touched">
                    <label class="form-check-label">Femenino</label>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">&nbsp;</label>
            <div class="input-group col-md-8">
                <button type="submit" class="btn btn-outline-primary btn-block">
                    Guardar
                </button>
            </div>
        </div>
    </form>
</div>
